{% extends "base.html" %}
{% block content %}

	<h1>Shopping Cart Index Page</h1>

{% if latest_item_list %}

	<ol>

		<table border="1">

			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
			
			{% for item in latest_item_list %}

			<tr>
				<td>{{item.id}}</td>
				<td> <a href="{% url 'detail' item.item_name %}">{{item.item_name}}</a></td>
				<td>{{item.description}}</td>
			</tr>
			

			{% endfor %}
		</table>

	</ol>

{% else %}

	<p>No items are available</p>

{% endif %}
{% endblock %}

